@{
    ViewData["Title"] = "Reviews";
}

@{
    foreach(var x in @ViewBag.AllReviews)
    {
        <h2>
            @x.restaurant  -  @{
                if (@x.score == 1)
                {
                    <span>@x.score star</span>
                }
                else
                {
                    <span>@x.score stars</span>
                }
            }
        </h2>
        <h3>Review by @x.user, Visited @x.date_visited.ToString("MM/dd/yyyy")</h3>
        <h2 style="margin-left:20px;">- @x.content</h2>
        <hr class="style13">
    }
}